<html>
	<head>
		<script
			src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous">
		</script>

		<script src="/js/index.js"></script>

		<link href="css/index.css" rel="stylesheet" type="text/css"/>

		<script>
			/*$(document).ready(function(){
				$(".tiles div").on("click", function(event) {
					$(event.currentTarget).toggleClass("active");
				});
			});*/

		</script>
	</head>

	<body>
		<section>
			<header>
				<h2>Tic-Tac-Toe</h2>
			</header>
		</section>

		<section>
			<div class="tiles_container">
				<div class="tile">
					<!--<img src="svg/cross.svg" alt="NONE"/>-->
				</div>
				<div class="tile">
					<!--<img src="svg/circle.svg" alt="NONE">-->
				</div>
				<div class="tile"></div>
				<div class="tile"></div>
				<div class="tile"></div>
				<div class="tile"></div>
				<div class="tile"></div>
				<div class="tile"></div>
				<div class="tile"></div>
			</div>
		</section>

		<section>
			<input type="button" value="New Game"/>
			<input type="button" value="Quit">
		</section>
	</body>
</html>